celery==5.0.2
Django>=3.0
django[argon2]==16.1.0
django-celery-beat==2.1.0
django-cors-headers>=3.5.0
django-extensions>=3.0.5
django-filter>=2.3.0
djangorestframework>=3.11.1
requests==2.25.0
shortuuid>=1.0.1
psycopg2-binary>=2.8
python-dotenv==0.15.0
