Django==3.2.16
argon2-cffi==16.1.0
# TODO: If still using reqs.txt once we are on Python 3.9+, tzinfo is builtin
backports.zoneinfo==0.2.1
boto3==1.24.9
celery==5.2.2
cryptography>=35.0.0
django-celery-beat==2.1.0
django-clearcache==1.2.1
django-cors-headers>=3.5.0
django-countries==7.2.1
django-extensions==3.0.5
django-filter==2.4.0
django-fixture-magic==0.1.5
django-localflavor==3.1
django-oauth-toolkit==2.0.0
django-pandas==0.6.6
django-phonenumber-field[phonenumbers]==5.2.0
django-redis==5.2.0
django-userforeignkey==0.3.0
djangorestframework-simplejwt==5.2.0
djangorestframework>=3.11.1
drf-nested-routers==0.93.4
drf_compound_fields==2.0.0
envparse==0.2.0
future==0.18.2
gcloud==0.18.3
google-cloud-pubsub==2.9.0
google-cloud-secret-manager==2.8.0
google-cloud-storage==2.1.0
gunicorn==20.0.4
# TODO: Remove one python is upgraded https://stackoverflow.com/questions/73929564/entrypoints-object-has-no-attribute-get-digital-ocean
importlib-metadata<5.0
numpy==1.21.1
pandas==1.3.5
psycopg2-binary==2.8.6
pydantic==1.9.0
python-dotenv==0.15.0
redis==3.5.3
requests==2.25.1
ringcentral==0.7.13
sentry-sdk==1.11.1
shortuuid==1.0.1
twilio==7.3.2
wheel==0.35.1
xmltodict==0.12.0
